<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List customer</title>
</head>
<body>
<h1>List customer</h1>
<p>
    <a href="/create-customer">Create customer</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customers}" method="get">
    <input type="text" name="search">
    <select name="by">
        <option value="all"></option>
        <option value="name"></option>
        <option value="age"></option>
    </select>
    <button type="submit">Search</button>
</form>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.age}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/customers'(page=${customers.number - 1},search =${search})}" th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/customers'(page=${customers.number + 1},search =${search})}" th:if="${customers.hasNext()}">Next</a>
    </div>
</table>
</body>
</html>