<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px solid black">
    <tr>
        <td>Product Name</td>
        <td>Price</td>
        <td>Amount</td>
        <td>Delete</td>
        <td>Change Amount</td>
    </tr>
    <th:block th:each="product : ${list.keySet()}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${cart.getAmount(product)}"></td>
            <td><a th:href="@{/deleteProduct/__${product.id}__}">Delete</a></td>
            <td><a th:href="@{/decreaseFromCart/__${product.id}__}"><button>-</button></a><a th:href="@{/increaseFromCart/__${product.id}__}"><button>+</button></a></td>
        </tr>
    </th:block>
</table>
<a href="/"><button>Product List</button></a>
</body>
</html>