<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px solid black">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/addToCart/__${product.id}__}" method="post">
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr th:object="${product}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{price}"></td>
            <td><img width="500px" height="300px" th:src="*{image}" alt="image"></td>
        </tr>
        <tr><button>Add to Card</button></tr>
    </form>
    <a href="/goToCart"><button>Go To Cart</button></a>
    <a href="/"><button>Product List</button></a>
</table>
</body>
</html>