<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr >
        <th>Id</th>
        <th>Mark</th>
        <th>Author</th>
        <th>Feedback</th>
        <th>Like</th>
        <th></th>
    </tr>
    <tr th:each="comment: ${comments}">
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.mark}"></td>
        <td th:text="${comment.author}"></td>
        <td th:text="${comment.feedback}"></td>
        <td th:text="${comment.like}"></td>
        <td><a th:href="@{/update-like}/id=${comment.id}"></a></td>
    </tr>
</table>
</body>
</html>