<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Edit Note</title>
</head>
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <form action="/note/update" method="post" th:object="${note}">

            <div class="modal-header" style="background: dimgray">
                <h4 class="modal-title" style="color: #e9e9e9">Edit Note</h4>
                <a href="/"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></a>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" name="id" th:field="*{id}"/>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" th:field="*{title}" >
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <input type="text" class="form-control" name="content" th:field="*{content}">
                </div>
                <div class="form-group">
                    <label>Note Type :</label>
                    <select name="noteType" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option th:each="nt :${noteTypes}" th:value="${nt.id}" th:text="${nt.name}"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><input type="button" class="btn btn-default"  value="Cancel"></a>
                <input type="submit" class="btn btn-info" value="Save">
            </div>
        </form>
    </div>
</div>
</body>
</html>