<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/layout::head" head>
<body>
<h3>Customer List</h3>
<p>
    <a th:href="@{/create-customer}">
        Create Customer
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,rowStat : ${customers}">
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.age}"></td>
        <td th:text="${customer.province.name}"></td>
        <td><a th:href="@{/edit-customer/__${customer.id}__ }">edit</a></td>
        <td><a th:href="@{/delete-customer/__${customer.id}__ }">delete</a></td>
        <td><a th:href="@{/view-customer/__${customer.id}__ }">view</a></td>
    </tr>
    </tbody>
    <div>
        <a th:href="@{'/customers'(page=${customers.number - 1},search =${search})}" th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/customers'(page=${customers.number + 1},search =${search})}" th:if="${customers.hasNext()}">Next</a>
    </div>
</table>
<footer th:replace="customer/layout::footer" footer></footer>
</body>
</html>