<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head" head>
<body>
<h3>Add New Customer</h3>
<p><a th:href="@{/}">Back to Customer List</a></p>
<div id="form">
    <form action="#" th:action="@{/customer/save}" th:object="${customer}" method="post" novalidate>
        <input type="hidden" th:field="*{id}">
        <div>
            <lable>Name</lable>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <lable>Email</lable>
            <input type="text" th:field="*{email}">
        </div>
        <div>
            <lable>Address</lable>
            <input type="text" th:field="*{address}">
        </div>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="layout::footer" footer></footer>
</body>
</html>